*{
 color:var(--fontcolor);
 font-family: helvetica;

}




body {
    background: var(--bg);
    }
    
    ul {
    
    font-family: helvética;
    
    }
    li {    
       list-style: circle; 
    }
    .list {    
        list-style: square;
    }
  

    .light-theme {
           --bg:var(--green);
           --fontcolor:var(--black);
           --btnBg:var(--black);
           --btnFontcolor:var(--white);
        }

    .dark-theme {  
          --bg:var(--black);
          --fontcolor:var(--green);
          --btnBg:var(--white);
          --btnFontColor:var(--black);
    }

    .btn {  
        position: absolute;
        top: 20px;
        left: 250px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        color: var(--btnFontaColor);
        background-color: var(--btnBg);
    }
    .btn:focus {outline-style: none; }



        :root { 
            --green: #00ff00;
            --white: #ffffff;
           --black: #000000;
    
        }